In [4]:
import pandas as pd
import numpy as np

In [11]:
df14 = pd.read_csv('./data/LoanStats3c.csv', skiprows = 1)
df15 = pd.read_csv('./data/LoanStats3d.csv', skiprows = 1)

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
df14.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,10400.0,10400.0,10400.0,36 months,6.99%,321.08,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,15000.0,15000.0,15000.0,60 months,12.39%,336.64,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,9600.0,9600.0,9600.0,36 months,13.66%,326.53,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,7650.0,7650.0,7650.0,36 months,13.66%,260.20,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,12800.0,12800.0,12800.0,60 months,17.14%,319.08,D,D4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df15.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,3600.0,3600.0,3600.0,36 months,13.99%,123.03,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,35000.0,35000.0,35000.0,60 months,14.85%,829.90,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,29900.0,29900.0,29900.0,60 months,12.88%,678.49,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,18000.0,18000.0,18000.0,60 months,11.99%,400.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### What is the median loan amount?

In [31]:
pd.concat([df14.loan_amnt, df15.loan_amnt]).median(axis = 0, skipna = True)

13750.0

### Each loan is categorized into a single purpose. What fraction of all loans are for the most common purpose?

In [41]:
pd.concat([df14.purpose, df15.purpose]).value_counts() / pd.concat([df14.purpose, df15.purpose]).value_counts().sum()

debt_consolidation    0.598464
credit_card           0.239898
home_improvement      0.058378
other                 0.045034
major_purchase        0.017217
medical               0.009546
small_business        0.008590
car                   0.008067
moving                0.005707
vacation              0.005218
house                 0.003332
renewable_energy      0.000528
wedding               0.000018
educational           0.000002
Name: purpose, dtype: float64

### Calculate the average interest rate across loans for each purpose. What is the ratio of minimum average rate to the maximum average rate? (The ratio should be less than 1.)

In [461]:
df = pd.concat([df14, df15])

In [462]:
df['int_rate'].head()

0      6.99%
1     12.39%
2     13.66%
3     13.66%
4     17.14%
Name: int_rate, dtype: object

In [463]:
df['int_rate'] = df['int_rate'].apply(lambda x: float(str(x).replace('%', '')) )

In [464]:
ratios_by_purposes = df.groupby('purpose')['int_rate'].agg('mean')

In [465]:
min(ratios_by_purposes) / max(ratios_by_purposes)

0.63997977670580719

### What is the difference in the fraction of the loans with a 36-month term between 2014 and 2015?

In [114]:
(df14['term'].value_counts() / df14.shape[0])[0] - (df15['term'].value_counts() / df15.shape[0])[0]

0.017469672014150617

### We will consider all loans that are not in the 'Fully Paid', 'Current', 'In Grace Period' statuses to be in default. Calculate the ratio of the time spent paying the loan, defined as the difference between the last payment date and the issue date, divided by the term of loan. What is the standard deviation of this ratio for all the loans in default?

In [466]:
df['pymnt_d'] = pd.to_datetime(df['last_pymnt_d']) - pd.to_datetime(df['issue_d'])

In [467]:
df['pymnt_d'] = df['pymnt_d'].apply(lambda x: x.days)

In [468]:
df['term_int'] = df['term'].apply(lambda x: int(str(x).replace(' months', '')) if pd.notnull(x) else x)

In [469]:
df['pymnt_d_ratio'] = df['pymnt_d'] / df['term_int']

In [470]:
default_idx = df['loan_status'].apply(lambda x: x not in ('Fully Paid', 'Current', 'In Grace Period'))

In [471]:
df.loc[default_idx,:]['pymnt_d_ratio'].std()

5.99407757892344

### What is the Pearson correlation coefficient between the total rate of return, as figured from the total payments and the loan amount, and the interest rate? Consider only loans that have reached the end of their term.

In [171]:
df['rate_of_return'] = df['total_pymnt'] / df['loan_amnt']

In [ ]:
df['pymnt_m'] = pd.to_datetime(df['last_credit_pull_d']).dt.to_period('M') - pd.to_datetime(df['issue_d']).dt.to_period('M')

In [208]:
idx_ended = (df['term_int'] - df['pymnt_m'] < 0)

In [211]:
df.loc[idx_ended,:][['rate_of_return', 'int_rate']].corr(method = 'pearson')

                rate_of_return  int_rate
rate_of_return        1.000000  0.209665
int_rate              0.209665  1.000000

### Let's find a loan purpose that shows up abnormally often in one state. Call A the probability of a loan going to a specific purpose nationwide. Call B the probability of a loan going to a specific purpose for each state. Out of all (state, purpose) pairs with at least 10 loans, what is the highest ratio of B / A (i.e. the most surprising)?

In [436]:
# nation-wide
nation_purposes = df['purpose'].value_counts() / df['purpose'].value_counts().sum()

In [437]:
nation_purposes = nation_purposes.to_frame().reset_index(level=0)

In [438]:
nation_purposes.columns = ['purpose', 'prop']

In [439]:
nation_purposes.head()

              purpose      prop
0  debt_consolidation  0.598464
1         credit_card  0.239898
2    home_improvement  0.058378
3               other  0.045034
4      major_purchase  0.017217

In [429]:
state_purposes = df[['addr_state', 'purpose']].groupby(['addr_state', 'purpose']).size()

In [430]:
state_purposes = state_purposes[state_purposes >= 10]

In [431]:
state_purposes_prop = state_purposes.groupby(level = 0).apply(lambda x: x / float(x.sum())).rename('prop').reset_index()

In [434]:
state_purposes_prop.head()

  addr_state             purpose      prop
0         AK         credit_card  0.225131
1         AK  debt_consolidation  0.633508
2         AK    home_improvement  0.058246
3         AK      major_purchase  0.019634
4         AK             medical  0.009162

In [441]:
state_purposes_prop = state_purposes_prop.merge(nation_purposes, left_on = 'purpose', right_on = 'purpose', how = 'left')

In [442]:
state_purposes_prop.head()

  addr_state             purpose    prop_x    prop_y
0         AK         credit_card  0.225131  0.239898
1         AK  debt_consolidation  0.633508  0.598464
2         AK    home_improvement  0.058246  0.058378
3         AK      major_purchase  0.019634  0.017217
4         AK             medical  0.009162  0.009546

In [444]:
max(state_purposes_prop['prop_x'] / state_purposes_prop['prop_y'])

3.2767665841755078

### Group all loans by their sub-grade and calculate their average inerest rate and average default rate. Build a linear model to predict the (average) default rate from the (average) interest rate. Find that sub-grade with the largest absolute deviation from this model. What is the deviation of the actual default rate from the predicted value?

In [528]:
df_int_rate = df.groupby('sub_grade')['int_rate'].agg('mean').to_frame().reset_index(level = 0)

In [530]:
df_int_rate.head()

  sub_grade  int_rate
0        A1  5.628507
1        A2  6.372322
2        A3  6.998792
3        A4  7.395797
4        A5  8.110669

In [472]:
### taken from the previous question
df.loc[default_idx, 'loan_status'] = 'default'

In [490]:
df_default = df.groupby(['sub_grade', 'loan_status'])['loan_status'].agg('count') \
    .groupby(level = 0).apply(lambda x: x / float(x.sum())).rename('default_prop').reset_index()

In [495]:
df_default = df_default.loc[df_default.loan_status == 'default']

In [536]:
df_default.head()

   sub_grade loan_status  default_prop
3         A1     default      0.017808
7         A2     default      0.031617
11        A3     default      0.035921
15        A4     default      0.046688
19        A5     default      0.055677

In [540]:
df_int_rate = df_int_rate.merge(df_default[['sub_grade', 'default_prop']], left_on = 'sub_grade', right_on = 'sub_grade',
                 how = 'left')

In [546]:
df_int_rate['int_rate'] - df_int_rate['default_prop']

0      5.610699
1      6.340705
2      6.962871
3      7.349108
4      8.054992
5      8.511468
6      9.509053
7     10.356411
8     11.230835
9     11.830641
10    12.421348
11    12.876086
12    13.494792
13    14.074885
14    14.713138
15    15.538095
16    16.343492
17    16.889545
18    17.454620
19    17.912653
20    18.405916
21    18.848170
22    19.488341
23    20.303953
24    21.350433
25    22.408084
26    23.251199
27    23.965552
28    24.615503
29    25.267426
30    25.751753
31    25.951108
32    26.145021
33    26.338352
34    26.447494
dtype: float64

In [541]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [548]:
lm.fit(df_int_rate['int_rate'].reshape(-1, 1), df_int_rate['default_prop'])

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  if __name__ == '__main__':

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [557]:
max(abs(lm.predict(df_int_rate['int_rate'].reshape(-1, 1)) - df_int_rate['default_prop']))

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  if __name__ == '__main__':

0.030487482635141394